.navWrapper{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.navItems ul{
    display: flex;
    flex: row;
}
li.navLink{
    list-style: none;
    padding: 1rem;
}
.navlink a{
    text-decoration: none;
    color: #551A8B;
}